// Correct way to define a function in SCSS
@function toRem($px) {
  @return $px / 16 * 1rem;
}

// Calculates a percentage of a pixel value, e.g. -3% of 64px -> -1.92px
@function percentOf($percentage, $value) {
  $ratio: $percentage / 100%;
  @return $ratio * $value;
}
