// Bold
.heading-1_bold {
  font-family: $font-poppins;
  font-size: toRem(72);
  line-height: 160%;
  font-weight: bold;
}

.heading-1_semi-bold {
  font-family: $font-poppins;
  font-size: toRem(72);
  line-height: 160%;
  font-weight: 600;
}

.heading-2_bold {
  font-family: $font-poppins;
  font-size: toRem(64);
  line-height: 110%;
  font-weight: bold;
}

.heading-2_semi-bold {
  font-family: $font-poppins;
  font-size: toRem(64);
  line-height: 110%;
  font-weight: 600;
}

.heading-3_semi-bold {
  font-family: $font-poppins;
  font-size: toRem(56);
  line-height: 110%;
  font-weight: 600;
}

.heading-3_regular {
  font-family: $font-poppins;
  font-size: toRem(56);
  line-height: 110%;
  font-weight: 400;
}

.heading-4_bold {
  font-family: $font-poppins;
  font-size: toRem(48);
  line-height: 160%;
  font-weight: bold;
}

.heading-4_semi-bold {
  font-family: $font-poppins;
  font-size: toRem(32);
  line-height: 110%;
  font-weight: 600;
}

h5,
.heading-5_bold {
  font-family: $font-poppins;
  font-size: toRem(40);
  line-height: 160%;
  font-weight: bold;
}

// Display

.display_bold{
  font-family: $font-poppins;
  font-size: toRem(32);
  line-height: 160%;
  font-weight: bold;
}

.body-extra-large_medium{
  font-family: $font-poppins;
  font-size: toRem(24);
  line-height: 20px;
  font-weight: 500;
}

.body-extra-large_regular{
  font-family: $font-poppins;
  font-size: toRem(24);
  line-height: 110%;
  font-weight: 400;
}


.body-large_bold{
  font-family: $font-poppins;
  font-size: toRem(20);
  line-height: 3%;
  font-weight: bold;
}

.body-large_semi-bold{
  font-family: $font-poppins;
  font-size: toRem(20);
  line-height: 110%;
  font-weight: 600 ;
}

.body-large_medium{
  font-family: $font-poppins;
  font-size: toRem(20);
  line-height: 110%;
  font-weight: 500 ;
}

.body-regular_bold{
  font-family: $font-poppins; 
  font-size: toRem(18);
  line-height: 160%;
  font-weight: bold;
}

.body-regular_medium{
  font-family: $font-poppins; 
  font-size: toRem(18);
  line-height: 110%;
  font-weight: 500;
}

.body-regular_regular{
  font-family: $font-poppins;
  font-size: toRem(18);
  font-weight: 400;
}

.body-small_bold{
  font-family: $font-poppins;
  font-size: toRem(16);
  line-height: 110%;
  font-weight: bold;
}

.body-small_semi-bold{
  font-family: $font-poppins;
  font-size: toRem(16);
  line-height: 110%;
  font-weight: 600;
}

.body-small_medium{
  font-family: $font-poppins;
  font-size: toRem(16);
  line-height: 160%;
  font-weight: 500;
}

.body-small_regular{
  font-family: $font-poppins;
  font-size: toRem(16);
  line-height: 110%;
  font-weight: 400;
}

.body-xssmall_bold{
  font-family: $font-poppins;
  font-size: toRem(12);
  line-height: 160%;
  font-weight: bold;
}



